body{
    background-color: #efefef;
}
.formBobot{
    width: 80%;
    margin: 0px 200px;
    height: auto;
    border-style: solid;
    border-width: 1pt;
    border-radius: 2px;
    background-color: white;
    padding: 10px 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}
h1{
    text-align-last: center;
    font-weight: bolder;
    font-size: xx-large;
    margin: 20px 0px 0px;
}
table, th{
    border: 1px solid black;
}
.slider{
    margin: 10,50px;
    padding: 5px;
    width: 80%;
    height: 10px;
    background: #111;
    -webkit-appearance:none;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    border-radius: 2px;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    background: #00bcd4;
}